
#main-footer{
    background-color: orangered;
    padding: 15px;

}

#main-header{
    
}

nav{
    background: white;
    display: flex;
    color: tomato;
    justify-content: flex-end;


}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
}

#main-li{
    display: flex;
    justify-content: left;

}